.chatContainer {
    height: 100vh;
    width: 100%;
    padding: 2rem 5rem;
    background: #2b94d6;
    color: rgb(238, 234, 234);
}

.messagesContainer {
    height: 75vh;
    overflow-y: auto;
    margin: 10px;
    color: rgb(238, 234, 234);
}

.footer {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.messageContainer {
    background-color: #1b84c6;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
} 

.warning {
    color: rgb(179, 67, 67);
    font-weight: 1000;
}