.chatContainer {
    height: 100vh;
    width: 100%;
    padding: 2rem 5rem;
    background: #2b94d6;
    color: rgb(238, 234, 234);

    @media only screen and (max-width: 480px) {
        height: 100%;
    }
}

.messagesContainer {
    height: 75vh;
    overflow-y: auto;
    margin: 10px;
    color: rgb(238, 234, 234);

    @media only screen and (max-width: 480px) {
        height: 50vh;
    }
}

.footer {
    display: flex;
    justify-content: end;
    gap: 15px;

    >input {
        padding: 10px;
        border-radius: 5px;
        border: 0;
    }

    @media only screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.messageContainer {
    background-color: #1b84c6;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;

    >div {
        font-size: small;
    }

    >span {
        font-size: large;
    }
} 

.warning {
    color: rgb(179, 67, 67);
    font-weight: 1000;
}