.signOnContainer {
    margin: 50px;
}

.formContainer {
    padding: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.formInputGroup {
    display: flex;
    justify-content: space-between;
}

.textField {
    width: 35vw;
}