.skillsContainer {
    height: 100vh;
    width: 100%;
    padding: 2rem 5rem;
    background: #2b94d6;
    color: rgb(238, 234, 234);

    @media only screen and (max-width: 480px) {
        padding: 5%;
        height: 100%;
    }
}

.boardContainer {
    padding: 20px 30px;
    border: 3px solid black;
    border-radius: 10px;
}

.skillLevelContainer {
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;

    @media only screen and (max-width: 480px) {
        text-align: center;

        h5 {
            font-size: large;
        }
    }
}

.radioButtonContainer {
    display: flex;
    gap: 20px;

    @media only screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }
}

.radioButton {
    display: flex;
    gap: 5px;
}

.buttonsContainer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}