.signUpContainer {
    height: 100vh;
    width: 100%;
    padding: 2rem 5rem;
    background: #2b94d6;
    color: rgb(238, 234, 234);

    @media only screen and (max-width: 480px) {
        padding: 5%;
        height: 100vh;
    }
}

.formContainer {
    padding: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.formInputGroup {
    display: flex;
    justify-content: space-between;

    >div{

        >div {
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 5px;

            >input {
                padding: 10px;
                border-radius: 5px;
                border: 0;
            }
        }
    }

    @media only screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;

        >div>div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.textField {
    width: 35vw;

    @media only screen and (max-width: 480px) {
        width: 60vw;
    }
}

.buttonsContainer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}